.venv
.idea
.env
.flaskenv

__pycache__/
*.pyc
.DS_Store
*.db


frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/.vscode
frontend/.DS_Store
frontend/*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

